body {
  background-color: rgba(128, 128, 128, 0.322);
  text-align: center;
}

main {
  display: block;
}

/* .form-content {
  width: 300px;
  display: flex;
  flex-direction: column;
} */

.form-field {
  /* display: flex; */
  margin: 10px;
  align-items: center;
}

.car_input {
  margin-right: 20px;
}

button {
  margin: 10px;
  cursor: pointer;
}

input {
  border-radius: 8px;
}

.title {
  margin-left: 30px;
  font-size: 22px;
}

.race {
  width: 100%;
  height: 100px;
  float: left;
  border-bottom: solid black;
  text-align: left;
  position: relative;
}

.car-panel {
  display: flex;
}

.car-image {
  width: 135px;
  height: 56px;
  /* transform: translateX(20px); */
}

.race-btn {
  width: 35px;
  height: 35px;
  transform: translateY(-10px);
}

.finish {
  width: 30px;
  height: 30px;
  background-image: url('assets/images/finish.svg');
  background-size: cover;
  float: right;
  margin-right: 20%;
  /* margin-right: 150px; */
  margin-top: -40px;
}
/**** MODAL WINDOW *****************/

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 15%;
  /* height: 10%; */
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  color: #ffffff;
}

.modal_hint {
  font-size: 16px;
  font-weight: normal;
}

.modal_btn {
  width: 135px;
  height: 36px;
  background-color: #f2f9fe;
  color: #2196f3;
  font-style: Medium;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 20px;
}

/******CUSTOM BUTTON***********/
.flashing_btn {
  background-color: #1c87c9;
}
@keyframes glowing {
  0% {
    background-color: rgb(199, 71, 71);
    box-shadow: 0 0 3px rgb(199, 71, 71);
  }
  50% {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 10px rgb(255, 0, 0);
  }
  100% {
    background-color: rgb(199, 71, 71);
    box-shadow: 0 0 3px rgb(199, 71, 71);
  }
}
.flashing_btn {
  animation: glowing 1300ms infinite;
}

/******WINNERS******************/

.winners_container {
  margin: 0 auto;
  display: block;
  text-align: center;
  /* background-color: #2196f3; */

  width: 700px;
  height: 400px;
}

table {
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #616161;
  text-align: left;
  padding: 8px;
}
